@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "نسيان كلمة السر";
}

<h1 style="font-family: Cairo;direction:rtl">@ViewData["Title"]</h1>
<p style="font-family: Cairo;direction:rtl">
    من فضلك قم بالتاكد من البريد الخاص بك لاعاده تعيين كلمة السر الجديدة
</p>

