@page
@model LockoutModel
@{
    ViewData["Title"] = "قفل الحساب";
}

<header>
    <h1 class="text-danger"style="font-family: Cairo;direction:rtl">@ViewData["Title"]</h1>
    <p class="text-danger">هذا الحساب تم اقفالة حاول مجددا في وقت لاحق</p>
</header>
