@page
@model LogoutModel
@{
    ViewData["Title"] = "تسجيل خروج";
}

<header>
    <h1 style="font-family: Cairo;direction:rtl">@ViewData["Title"]</h1>
    <p style="font-family: Cairo;direction:rtl">لقد قمت بتسجيل الخروج بنجاح</p>
</header>